/* Andrea Fletcher */

h1
{
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h3
{
    font-weight: 500;
}

.left
{
    font-weight: 300;
    float:left;
    border: 1px solid red;
    border-radius: 15px;
    width: 45%;
    padding: 10px;

    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.right
{
    font-weight: 300;
    float:right;
    border: 1px dashed red;
    border-radius: 15px;
    width: 45%; 
    padding: 10px;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
.right ul
{
    list-style-type: upper-roman; 
}

.navigation
{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    margin-top: 60%;
    margin-bottom: 20px;
    width:100%
}

a{
    text-decoration: none;
    float: right;

}
a:hover
{
    text-decoration: underline;
}